@page
@model HimalayanLogistics.Pages.AboutUsModel
@{
}

<style>
h1, h2 {
		text-align: center;
	}

</style >

<div class="sub-pages-header" style="margin-bottom:100px;">
<h1>Who we are</h1>
</div>


<span class="normal-text">
	For when standard ground service just won't do. For when you need fast, expedited delivery. For when you have questions and need more than just answers, but customer support.
</span>

<p class="normal-text">
	That's where
	<strong>
		ShipIt
	</strong>&nbsp;comes in, with our premium freight services both by air and by road and the industry-leading behind-the-scenes infrastructure to get it done.
</p>

<p class="normal-text">
	We're proud to be revolutionizing the world of transportation and logistics to get your time critical deliveries from Point A to Point B safely,
	securely and on time every time. Because when you need goods and items to arrive at their destination much faster than typical delivery services, 
	not just any provider will do. You need a process that's fast-tracked, and you need a company that you can trust.
</p>

<p class="normal-text">
	Freight is moved in the United States, each year through different mediums, and freight transportation is an important sector that keeps North America economies wheels turning.
	But when standard bulk shipping just won't do,
	do you know who to turn to? Do you know who has available capacity and the infrastructure capable of making expedited deliveries?
</p>

<p class="normal-text">Expedited Freight Company can help, and we have the family of companies to meet any freight shipping deadline that you're faced with.</p>

<p class="normal-text">Learn more about the Expedited Freight Group's family of companies below and click on each of them for a more in-depth description.</p>

<br />
<section>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">Meet the Coolest Team</h3>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="./Groot.jpg"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Groot</h5>
            <h6 class="text-primary mb-3">CEO</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>
                <strong> I am Groot! I am Groot! I am Groot!</strong>
            </p>
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="./Flash.jpg"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Flash</h5>
            <h6 class="text-primary mb-3">Delivery Head</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>
                <strong> I am your Delivery Guy! We Deliver in seconds.</strong>
            </p>

        </div>
        <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="./Optimus_Prime.jpg"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Optimus Prime</h5>
            <h6 class="text-primary mb-3">Inventory Manager</h6>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>
                <strong>Who dares to challenge me?</strong>
            </p>

        </div>
    </div>
