@page
@model HimalayanLogistics.Pages.AboutUsModel
@{
}

<style>
h1, h2 {
		text-align: center;


	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

</style >

<h1>Who Are WE</h1>


<img src="~/Truck_01.jpg" alt="Expedited Transportation" title="Expedited Transportation" class="aligncenter size-medium" style="max-width: 800px;">
<br/>

<span id="hs_cos_wrapper_overview_header" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="text">
	For when standard ground service just won't do. For when you need fast, expedited delivery. For when you have questions and need more than just answers, but customer support.
</span>

<p>
	That's where
	<strong>
		Expedited Freight Company
	</strong>&nbsp;comes in, with our premium freight services both by air and by road and the industry-leading behind-the-scenes infrastructure to get it done.
</p>

<p>We're proud to be revolutionizing the world of transportation and logistics to get your time critical deliveries from Point A to Point B safely, 
	securely and on time every time. Because when you need goods and items to arrive at their destination much faster than typical delivery services, 
	not just any provider will do. You need a process that's fast-tracked, and you need a company that you can trust.
</p>

<p>Freight is moved in the United States, each year through different mediums, and freight transportation is an important sector that keeps North America economies wheels turning. 
	But when standard bulk shipping just won't do,
	do you know who to turn to? Do you know who has available capacity and the infrastructure capable of making expedited deliveries?
</p>

<p>Expedited Freight Company can help, and we have the family of companies to meet any freight shipping deadline that you're faced with.</p>

<p>Learn more about the Expedited Freight Group's family of companies below and click on each of them for a more in-depth description.</p>

