@page
@model HimalayanLogistics.Pages.StatisticsModel

@{
}

<style> 
    .carousel-caption h2

    {
        color: white; 
    }

    .carousel-caption p
    {
        color: white;

    }

    .badge {
        color: black;
        font-size: 20px;
    }

    .list-group {
        background-color: black;
        color: white;
    }


    .tilesWrap {
        padding: 0;
        margin: 50px auto;
        list-style: none;
        text-align: center;
        background: #262a2b;
    }

        .tilesWrap li {
            display: inline-block;
            width: 20%;
            min-width: 200px;
            max-width: 230px;
            padding: 80px 20px 40px;
            position: relative;
            vertical-align: top;
            margin: 10px;
            font-family: 'helvetica', san-serif;
            min-height: 25vh;
            background: #262a2b;
            border: 1px solid #252727;
            text-align: left;
        }

            .tilesWrap li h2 {
                font-size: 114px;
                margin: 0;
                position: absolute;
                opacity: 0.2;
                top: 50px;
                right: 10px;
                transition: all 0.3s ease-in-out;
                color: white;
            }

            .tilesWrap li h3 {
                font-size: 20px;
                color: #b7b7b7;
                margin-bottom: 5px;
            }

            .tilesWrap li p {
                font-size: 16px;
                line-height: 18px;
                color: #b7b7b7;
                margin-top: 5px;
            }

            .tilesWrap li button {
                background: transparent;
                border: 1px solid #b7b7b7;
                padding: 10px 20px;
                color: #b7b7b7;
                border-radius: 3px;
                position: relative;
                transition: all 0.3s ease-in-out;
                transform: translateY(-40px);
                opacity: 0;
                cursor: pointer;
                overflow: hidden;
            }

                .tilesWrap li button:before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 120%;
                    background: #b7b7b7;
                    top: 0;
                    opacity: 0;
                    left: -140px;
                    border-radius: 0 20px 20px 0;
                    z-index: -1;
                    transition: all 0.3s ease-in-out;
                }

            .tilesWrap li:hover button {
                transform: translateY(5px);
                opacity: 1;
            }

            .tilesWrap li button:hover {
                color: white;
            }

                .tilesWrap li button:hover:before {
                    left: 0;
                    opacity: 1;
                }

            .tilesWrap li:hover h2 {
                top: 0px;
                opacity: 0.6;
            }

            .tilesWrap li:before {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                z-index: -1;
                background: #fff;
                transform: skew(2deg, 2deg);
            }

            .tilesWrap li:after {
                content: '';
                position: absolute;
                width: 40%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(255, 255, 255, 0.02);
            }

            .tilesWrap li:nth-child(1):before {
                background: #C9FFBF;
                background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
                background: linear-gradient(to right, #FFAFBD, #C9FFBF);
            }

            .tilesWrap li:nth-child(2):before {
                background: #f2709c;
                background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
                background: linear-gradient(to right, #ff9472, #f2709c);
            }

            .tilesWrap li:nth-child(3):before {
                background: #c21500;
                background: -webkit-linear-gradient(to right, #ffc500, #c21500);
                background: linear-gradient(to right, #ffc500, #c21500);
            }

            .tilesWrap li:nth-child(4):before {
                background: #FC354C;
                background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
                background: linear-gradient(to right, #0ABFBC, #FC354C);
            }

</style>
<div id="Marketing" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./Logic1.jpg" class="d-block w-100" height="500" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>
                    Feeling pressure from transportation market changes?
                    We're here to help.
                </h2>
                <p>
                    No matter your industry, company size, or overall transportation spend, we're here to keep you in-the-know. Leverage our global knowledge to optimize your strategy so that it is ready for the next shift in the transportation market.

                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./Logic2.jpg" class="d-block w-100" height="500" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2> Stay informed with the latest global ocean and air market updates</h2>
                <p>Based on our industry-leading expertise and historical trade lane data, use these monthly insights to plan for changes in capacity and the cost of shipping globally.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./Logic3.jpeg" class="d-block w-100" height="500" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>
                    Global goals need global expertise
                </h2>
                <p>Our global client advisory updates can help you pivot your business strategies as you confront disruptions and uncover new opportunities for growth.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />

<h4 style="color: #eb1424; font-size:2rem; padding: 10px;">Platform Statistics</h4>

<ul class="tilesWrap">
    <li>
        <h2>@Model.TotalShipments</h2>
        <h3>Total Shipments</h3>
    </li>
    <li>
        <h2>@Model.TotalDeliveryTrackings</h2>
        <h3>Total Delivery Trackings</h3>
    </li>
    <li>
        <h2>@Model.TotalCustomers</h2>
        <h3>Total Customers</h3>
    </li>
</ul>
