@page
@model HimalayanLogistics.Pages.InsightsTrendsModel
@{
}

<style>
	div.container {
		text-align: center;
	}

	div.container-fluid {
		text-align: center;
	}
</style>

<section class="whiteback">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<header class="row nopad">
				<div class="padbox mobile-pad10">
					<h3 class="text-center" role="heading" aria-level="3">Ryder logistics management solutions by the numbers:</h3>
				</div>
			</header>
			<article class="row padbottom">
				<div class="row-lg-height row-md-height row-sm-height">
					<!-- FEATURE 1 -->
					<figure class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-height col-lg-top col-md-height col-md-top col-sm-height col-sm-top pad10 text-center">
						<h4 id="white-stat-title-1" class="red titlepad uppercase bigfigure" role="heading" aria-level="3">300+</h4>
						<figcaption id="white-stat-desc-1">supply chain engineers</figcaption>
					</figure>
					<!-- //FEATURE 1 -->
					<!-- FEATURE 2 -->
					<figure class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-height col-lg-top col-md-height col-md-top col-sm-height col-sm-top pad10 text-center">
						<h4 id="white-stat-title-2" class="red titlepad uppercase bigfigure" role="heading" aria-level="3">80M+</h4>
						<figcaption id="white-stat-desc-2">square feet of managed warehouse space</figcaption>
					</figure>
					<!-- //FEATURE 2 -->
					<!-- FEATURE 3 -->
					<figure class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-height col-lg-top col-md-height col-md-top col-sm-height col-sm-top pad10 text-center">
						<h4 id="white-stat-title-3" class="red titlepad uppercase bigfigure" role="heading" aria-level="3">$7.4B</h4>
						<figcaption id="white-stat-desc-3">freight managed annually</figcaption>
					</figure>
					<!-- //FEATURE 3 -->
				</div>
			</article>
		</div>
	</div>
</section>

<div class="container-fluid">
	<div class="row header_row">
		<header class="header_column">
			<div class="header_column_inner">
				<h2>Global Shipping Volume By Industry Across All Modes</h2>
				<p>Last Updated: Wed Oct 06-* 2022</p>
			</div>
		</header>
	</div>
	<div class="row content_row">
		<div class="column  has_text ">
			<div class="column_inner active">
				<div class="column_inner_inner">
					<div class="text_container">
						<p class="intro-text">
							<strong>FOOD &amp; BEV</strong>
						</p>
						<h4 style="color: #08c0e4;">
							<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/up-arrow.png" alt="up arrow" data-lazy-src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/up-arrow.png" data-ll-status="loaded" class="entered lazyloaded">
							<noscript>
								<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/up-arrow.png" alt="up arrow" />
							</noscript> 2.06%
						</h4>
						<p>vs previous week</p>
					</div>
				</div>
			</div>
		</div>
		<div class="column  has_text ">
			<div class="column_inner active">
				<div class="column_inner_inner">
					<div class="text_container">
						<p class="intro-text">
							<strong>CPG </strong>
						</p>
						<h4 style="color: #08c0e4;">
							<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" data-lazy-src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" data-ll-status="loaded" class="entered lazyloaded">
							<noscript>
								<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" />
							</noscript> 3.39%
						</h4>
						<p>vs previous week</p>
					</div>
				</div>
			</div>
		</div>
		<div class="column  has_text ">
			<div class="column_inner active">
				<div class="column_inner_inner">
					<div class="text_container">
						<p class="intro-text">
							<strong> RETAIL</strong>
						</p>
						<h4 style="color: #08c0e4;">
							<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="up arrow" data-lazy-src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" data-ll-status="loaded" class="entered lazyloaded">
							<noscript>
								<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="up arrow" />
							</noscript> 29.12%
						</h4>
						<p>vs previous week</p>
					</div>
				</div>
			</div>
		</div>
		<div class="column  has_text ">
			<div class="column_inner active">
				<div class="column_inner_inner">
					<div class="text_container">
						<p class="intro-text">
							<strong>MANUFACTURING</strong>
						</p>
						<h4 style="color: #08c0e4;">
							<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" data-lazy-src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" data-ll-status="loaded" class="entered lazyloaded">
							<noscript>
								<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" />
							</noscript> 3.45%
						</h4>
						<p>vs previous week</p>
					</div>
				</div>
			</div>
		</div>
		<div class="column  has_text ">
			<div class="column_inner active">
				<div class="column_inner_inner">
					<div class="text_container">
						<p class="intro-text">
							<strong>PAPER &amp; PACKAGING</strong>
						</p>
						<h4 style="color: #08c0e4;">
							<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" data-lazy-src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" data-ll-status="loaded" class="entered lazyloaded">
							<noscript>
								<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" />
							</noscript> 4.05%
						</h4>
						<p>vs previous week</p>
					</div>
				</div>
			</div>
		</div>
		<div class="column  has_text ">
			<div class="column_inner active">
				<div class="column_inner_inner">
					<div class="text_container">
						<p class="intro-text">
							<strong>CHEMICAL &amp; PLASTIC</strong>
						</p>
						<h4 style="color: #08c0e4;">
							<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" data-lazy-src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" data-ll-status="loaded" class="entered lazyloaded">
							<noscript>
								<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" />
							</noscript> 5.35%
						</h4>
						<p>vs previous week</p>
					</div>
				</div>
			</div>
		</div>
		<div class="column  has_text ">
			<div class="column_inner active">
				<div class="column_inner_inner">
					<div class="text_container">
						<p class="intro-text">
							<strong>OIL &amp; GAS</strong>
						</p>
						<h4 style="color: #08c0e4;">
							<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" data-lazy-src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" data-ll-status="loaded" class="entered lazyloaded">
							<noscript>
								<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/down-arrow.png" alt="down arrow" />
							</noscript> 7.78%
						</h4>
						<p>vs previous week</p>
					</div>
				</div>
			</div>
		</div>
		<div class="column  has_text ">
			<div class="column_inner active">
				<div class="column_inner_inner">
					<div class="text_container">
						<p class="intro-text">
							<strong> PHARMACEUTICAL</strong>
						</p>
						<h4 style="color: #08c0e4;">
							<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/up-arrow.png" alt="down arrow" data-lazy-src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/up-arrow.png" data-ll-status="loaded" class="entered lazyloaded">
							<noscript>
								<img src="https://15croum5v52u4nrv7goeotkw-wpengine.netdna-ssl.com/wp-content/uploads/2020/12/up-arrow.png" alt="down arrow" />
							</noscript> 0.61%
						</h4>
						<p>vs previous week</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
